.circle-container {
  position: relative;
  width: calc(400px * var(--scale, 1));
  height: calc(400px * var(--scale, 1));
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Base circle style */
.circle {
  position: absolute;
  border-radius: 50%;
  animation: pulse 6s infinite ease-in-out;
}

/* Each circle scaled by var(--scale) */
.circle1 {
  width: calc(200px * var(--scale, 1));
  height: calc(200px * var(--scale, 1));
  background: rgba(217,242,208,0.2);
  top: calc(60px * var(--scale, 1));
  right: calc(70px * var(--scale, 1));
  animation-delay: 0s;
}

.circle2 {
  width: calc(200px * var(--scale, 1));
  height: calc(200px * var(--scale, 1));
  background: rgba(255,192,0,0.2);
  bottom: calc(80px * var(--scale, 1));
  left: calc(80px * var(--scale, 1));
  animation-delay: 0.1s;
}

.circle3 {
  width: calc(260px * var(--scale, 1));
  height: calc(260px * var(--scale, 1));
  background: rgba(71,212,90,0.2);
  top: calc(50px * var(--scale, 1));
  right: calc(50px * var(--scale, 1));
  animation-delay: 0.2s;
}

.circle4 {
  width: calc(200px * var(--scale, 1));
  height: calc(200px * var(--scale, 1));
  background: rgba(70,177,225,0.2);
  right: calc(70px * var(--scale, 1));
  animation-delay: 0.4s;
}

.circle5 {
  width: calc(260px * var(--scale, 1));
  height: calc(260px * var(--scale, 1));
  background: rgba(233,113,50,0.2);
  top: calc(70px * var(--scale, 1));
  right: calc(100px * var(--scale, 1));
  animation-delay: 0.5s;
}

.circle6 {
  width: calc(260px * var(--scale, 1));
  height: calc(260px * var(--scale, 1));
  background: rgba(255,255,255,0.2);
  animation-delay: 0.6s;
}

.circle7 {
  width: calc(180px * var(--scale, 1));
  height: calc(180px * var(--scale, 1));
  background: rgba(255,255,255,0.2);
  bottom: calc(70px * var(--scale, 1));
  right: calc(50px * var(--scale, 1));
  animation-delay: 0.8s;
}

.circle8 {
  width: calc(180px * var(--scale, 1));
  height: calc(180px * var(--scale, 1));
  background: rgba(255,255,255,0.2);
  bottom: calc(70px * var(--scale, 1));
  left: calc(50px * var(--scale, 1));
  animation-delay: 0.9s;
}

.circle9 {
  width: calc(320px * var(--scale, 1));
  height: calc(320px * var(--scale, 1));
  background: rgba(13, 83, 78, 0.3);
  animation-delay: 1s;
  box-shadow: 0 0 calc(40px * var(--scale, 1)) calc(20px * var(--scale, 1)) rgba(0, 200, 180, 0.3);
}

.circle10 {
  width: calc(180px * var(--scale, 1));
  height: calc(180px * var(--scale, 1));
  background: rgba(255,255,255,0.2);
  top: calc(70px * var(--scale, 1));
  left: calc(50px * var(--scale, 1));
  animation-delay: 0.9s;
}

.circle11 {
  width: calc(180px * var(--scale, 1));
  height: calc(180px * var(--scale, 1));
  background: rgba(255,255,255,0.2);
  bottom: calc(70px * var(--scale, 1));
  animation-delay: 0.9s;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

.center-logo {
  position: relative;
  font-size: calc(40px * var(--scale, 1));
  font-weight: bold;
  padding: calc(20px * var(--scale, 1)) calc(40px * var(--scale, 1));
  border-radius: 50%;
  z-index: 10;
}
